/* CSS BY: PJ GRAHAM */

/* Imported fonts link */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');


/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root variables for colors and fonts */

:root {

    /* colors */
    --teal: #4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --dark-gray: :#1E1E1E; 
    --white: #ffffff; 
    --black: #000000;
    /* fonts */
    --heading-fonts: 'Kavoon', cursive, sans-serif; 
    --body-fonts: 'Inter', sans-serif; 
}

/* global styles (mobile first/small) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mobile_container {
    background-color: var(--purple);
    max-width: 450px;
    margin: 0 auto;
    font-family: var(--body-fonts);
}

html {
    background-color: var(--lavender);
    font-family: var(--body-fonts);
}

/* header - h1, h2, nav */

header {
    color: var(--white);
    text-align: center;
}

h1, h2 {
    font-family: var(--heading-fonts);
    color: var(--white);
}

header > p {
    font-style: italic;
    font-family: var(--body-fonts);
    padding-bottom: 30px;
}

h1 {
    font-size: 3em;
    margin: 0 auto;
    padding: 30px 0 0 0;
}

h2 {
    font-size: 2em;
    padding: 15px 0 2px 15px;
}

/* Nav */

nav {
    background-color: var(--yellow);
    width: auto;
    height: 295px;
}

nav h2 {
    font-family: var(--body-fonts);
    color: var(--black);
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
    padding: 15px;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    list-style-type: none;
}

nav li {
    margin: 0 auto;
    padding: 15px;
    width: 400px;
    background-color: var(--white);
    text-transform: uppercase;
}

nav a {
    color: var(--purple);
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    font-size: large;
    color: var(--pink);
}

/* Main Sections */

/* subheadings h3, h4, p */
h3 {
    font-size: 1.5em;
    color: var(--yellow);
    font-weight: bolder;
    padding: 5px 15px;
}

h4 {
    font-size: 1.15em;
    color: var(--purple);
    font-weight: bolder;
}

p {
    font-family: var(--body-fonts);
    padding-top: 10px;
}



/* Our Services */
#services img {
    padding: 10px 0 15px 5px;
}

#flex_personal, #flex_career, #flex_relationship, #flex_support, #flex_focus, #flex_interactive, #flex_flexible > div {
    display: block;
    background-color: var(--white);
    margin: 15px 25px 15px 25px;
    border-radius: 10px;
    padding: 10px 25px 5px 25px;
}

#services p {
    line-height: 1.5em;
}

/* subheadings h3, h4, p */
h3 {
    font-size: 1.5em;
    color: var(--yellow);
    font-weight: bolder;
}

h4 {
    font-size: 1.15em;
    color: var(--purple);
    font-weight: bolder;
}

p {
    font-family: var(--body-fonts);
    padding-top: 10px;
    margin-bottom: 20px;
}

/* Choose Us List */
#results {
    background-color: var(--pink);
}

#grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

#grid-container > div {
    padding: 35px;
    text-align: center;
    font-family: var(--body-fonts);
    font-weight: bolder;
    font-size: larger;
}

#box1 {
    background-color: var(--teal);
    margin: 10px;
    border-radius: 20px;
}
#box2 {
    background-color: var(--lavender);
    margin: 10px;
    border-radius: 20px;
    text-align: center;
}

#box3 {
    background-color: var(--yellow);
    margin: 10px;
    border-radius: 20px;
}
#box4 {
    background-color: var(--white);
    margin: 10px;
    border-radius: 20px;
}


/* Prices tables */

#table_one, #table_group, #table_workshops, #table_online {
    border: 2px solid var(--yellow);
    text-align: center;
    margin: 0 auto;
}

th {
    background-color: var(--yellow);
    font-weight: bolder;
    text-transform: uppercase;
    padding: 1em;
}

td {
    background-color: var(--white);
    padding: 1em;
    border: 2px solid var(--yellow);
    text-align: left;
}

/* Contact section */ 

#contact {
    background-color: var(--pink);
    color: var(--white);
    height: 255px;
    margin-top: 10px;
    line-height: 1.40em;
    text-align: center;
}

#contact_text {
    text-align: left;
    padding: 5px 10px 0 15px;
}

#action {
    width: 90%;
    height: 60px;
    font-family: var(--body-fonts);
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
}

button {
    border-radius: 15px;
    border: none;
    box-shadow: 5px 5px;
}



/* footer */
footer {
    display: flex;
    justify-content: center;
    background-color: var(--purple);
    height: 100px;
}

footer a {
    color: var(--white);
}

footer > p {
    color: var(--white);
    font-size: 0.75em;
    margin: 25px;
    padding: 18px;
}


